@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, ul, li{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --sidebar-main-color:#0f172a;
    --main-background:  #e2e8f0;
    

}
a {
    text-decoration: none;
    font-size: 1.3rem;
    box-shadow: inset 0 0 0 0 var(--sidebar-main-color);
    color: transparent;
    border: 1px solid var(--main-background);
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    
  }
  a:hover {
    box-shadow: inset 400px 0 0 0 var(--sidebar-main-color);
    color: var(--main-background);
    border: 1px solid var(--main-background);
  }
  



.dash-container{
    height: 100%;
    display: grid;
    grid-template-columns: 0.8fr 4fr;
    grid-template-rows: 1fr 4fr;
    
    }

.header{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0px -5px 20px ; 
    background-color: var(--main-background);
}
.searchBar{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.bar>#searchbar{
    height: 24px;
    display: grid;
    width: 100%;
    background-color: var(--sidebar-main-color);
    border: 5px solid var(--sidebar-main-color);
    border-radius: 10px;
    color: white;
    

}
.searchIcon{
    height: 24px;
    padding-right: 5px;
    align-self: center;
    justify-self: end;
    
}

.Notif{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr
    

}
.Notif>div{
    place-self: center;
}
.Notif>.bell{
    justify-self: end;
}
.Notif>.myName{
    justify-self: start;
}
.avatar {
    place-self: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
.Welcome{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.Welcome>.avatar{
    width: 4rem;
    height: 4rem;
    place-self: center end;
    padding-bottom: .1rem;

}
.HelloM{
    padding-left: 1rem;
    align-self: center;
    color: var(--sidebar-main-color);

}
.HelloM>span{
    font-weight: bolder;
    font-size: 1.25rem;
}

.headButtons{
    display: grid;
    grid-template-columns: repeat(3,.5fr);
}
.headButtons>button{
    border:none;
    border-radius: 10px;
    place-self: center;
    width: 50%;
    height: 40%;
    background-color: var(--sidebar-main-color);
    color: var(--main-background);

}
.headButtons>.new{
    justify-self: end;
}
.headButtons>.share{
    justify-self: start;
}







.sidebar{
    grid-row: 1/4;
    height: 100%;
    background-color: var(--main-background);
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 5rem repeat(9,3rem) ;
    
    

}
.sidebar>img{
    place-self: center;
}
.sidebar>div{
    place-self: center start;

}
.sidebar>.top{
    font-size: 1.2rem;
    font-weight: bold;

}
.sidebar>.bottom{
    padding-top: 4rem;
    
}

.main{
    background-color: var(--sidebar-main-color);
    border: 1px solid black;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr)) ;
}



.card{
    background: white;
    width: 60%;
    height: 60%;
    place-self: center;
    border-radius: 5px;
    background-color:var(--main-background);
    display: flex;
    align-items: center;
    justify-content: center;
}


.Tic-Tac-Toe{
    background-image: url('images/tictactoe.png');
    background-size: cover;
}
.calculator{
    background-image: url('images/calculator.jfif');
    background-size: cover;
}
.library{
    background-image: url('images/books.jfif');
    background-size: cover;
}
.Todo-List{
    background-image: url('images/todolist.jfif');
    background-size: cover;
}

.rps{
    background-image: url('images/rpsrps.jfif');
    background-size: cover;
}
.Restaurant-Page{
    background-image: url('images/restau.jfif');
    background-size: cover;
}

.signup{
    background-image: url('images/sigup.png');
    background-size: cover;
}
.Landing-Page{
    background-image: url('images/landpage.jfif');
    background-size: cover;
}











