@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    font-size: 10px;
}

*, ul, li{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --sidebar-main-color:#e2e8f0;
    --main-background:  #0f172a;
    margin: auto;
    text-decoration: none;

}
body{
    background-color: var(--main-background);
}
header{
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    

}
main{
    font-size: 3rem;
    color: var(--sidebar-main-color);
    
}

footer{
font-size: 2.5rem;
display: grid;
grid-template-columns: 1fr 1fr;
color: var(--sidebar-main-color);
}
header,main,footer{
    width: 90%;
}

header>img{
    height: 40vh;
    width: 30vw;
    border-radius: 0.5rem;
}



footer>:first-child{
    height: 50vh;
    width: 35vw;
    border-radius: 0.5rem;
}

.contacts>*{
    padding: 1.5rem 0 1.5rem 0;
}


.main{
    background-color: var(--sidebar-main-color);
    border: .1rem solid black;
    height: 120vh;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(40rem,1fr)) ;
    gap: 0.5rem;
    margin: auto;
    border-radius: 0.5rem;
    
}




.devicon-github-original-wordmark,.devicon-google-plain{
    font-size: 5rem;
    color: var(--sidebar-main-color);
    
}

.gitLink,.mailLink{
    position: fixed;
    margin-top: 1.8rem;
    margin-left: 1rem;
}
.mailLink{
    margin-top: 10rem;
}




.aboutMe{
    background-color: var(--sidebar-main-color);
    color: var(--main-background);
    font-size: 2rem;
    padding: 1.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    height: 50%;


}

.card{
    
    width: 90%;
    height: 90%;
    border-radius: .5rem;
    background-color:var(--main-background);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 0 var(--sidebar-main-color);
    color: transparent;
    border: .1rem solid var(--main-background);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.card:hover {
    box-shadow: inset 60rem 0 0 0 var(--sidebar-main-color);
    color: var(--main-background);
    border: .1rem solid var(--main-background);
}



.Tic-Tac-Toe{
    background-image: url('images/portoTTT.png');
}
.calculator{
    background-image: url('images/portoCalc.png');
}
.library{
    background-image: url('images/portola.png');
    
}
.Todo-List{
    background-image: url('images/protoTod.png');
    
}

.rps{
    background-image: url('images/portoRPS.png');
    
}
.Restaurant-Page{
    background-image: url('images/protorp.png');
}

.signup{
    background-image: url('images/portoform.png');
    
}
.Landing-Page{
    background-image: url('images/protoLP.png');
    
}
.weatherApp{
    background-image: url('images/portoWa.png');

}












